#root {
  max-width: 100%;
  margin: 0px ;
  padding: 0px;
  text-align: center;
  background-color: rgb(236, 202, 158);
  content: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(40px 40px 10px #69f3f1aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

div .column{
  display: flex;
  height: 1vp;
  justify-content: space-around;
  background: linear-gradient( to right , #828a80cb, black);
  /* background-color: #828a80cb; */
}


div .border{
  display: flex;
  flex-direction: column;
  /* height: 1vp; */
  width: 40%;
  border: 3px solid black;
  background-color: #828a80aa;
}

ul {
  text-align: start;
  border: solid 1px brown
}